.navbar {
    color: white;
    font-family: 'Racing Sans One', cursive;
    font-size: 37px;
    background-color:#8A2121;
    width: 1350px;
}

.navbar-item {
    color: white;
    margin-left: 25px;

}

.navbar a {
    color: white;
}

.navbar a:hover {
    color:black;
}
.navbar-item1 {
    margin: auto;
    margin-right: 15px;
    font-family:'Roboto', sans-serif;
    font-size: 25px;
}

.input {
    height: 30px;
    width: 570px;
    margin-left: 140px;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.rectangle {
    position: absolute;
    width: 1050px;
    height: 385px;
    left: 300px;
    top: 70px;
}

.rectangle2{
    position: absolute;
    width: 300px;
    height: 947px;
    left: 0px;
    top: 0px;
    background: #191919;
}


.text {
    position: absolute;
    width: 256px;
    height: 42px;
    left: 20px;
    top: 15px;

    font-family: 'Roboto' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 37px;
    line-height: 43px;
}

.text a {
    color: #FFFFFF;
}

.text a:hover {
    color: #8A2121;
}

.rectangle4 {
    box-sizing: border-box;
    position: absolute;
    width: 300px;
    height: 82px;
    left: 0px;
    top: 70px;
    border: 3px solid #FFFFFF;
}

.rectangle3 {
    box-sizing: border-box;
    position: absolute;
    width: 300px;
    height: 82px;
    left: 0px;
    top: 230px;
    border: 3px solid #FFFFFF;
}


.rectangle5 {
    box-sizing: border-box;
    position: absolute;
    width: 300px;
    height: 82px;
    left: 0px;
    top: 150px;
    border: 3px solid #FFFFFF
}

.rectangle6 {
    box-sizing: border-box;
    position: absolute;
    width: 300px;
    height: 82px;
    left: 0px;
    top: 310px;
    border: 3px solid #FFFFFF;
}

.rectangle7{
    box-sizing: border-box;
    position: absolute;
    width: 300px;
    height: 82px;
    left: 0px;
    top: 390px;
    border: 3px solid #FFFFFF;
}

.rectangle8{
    box-sizing: border-box;
    position: absolute;
    width: 300px;
    height: 82px;
    left: 0px;
    top: 470px;
    border: 3px solid #FFFFFF;
}

.rectangle9{
    box-sizing: border-box;
    position: absolute;
    width: 300px;
    height: 82px;
    left: 0px;
    top: 550px;
    border: 3px solid #FFFFFF;
}

.rectangle10 {
    position: absolute;
    width: 1050px;
    height: 467px;
    left: 300px;
    top: 480px;
    background: #D9D9D9;
}

.rectangle11 {
    position: absolute;
    width: 315px;
    height: 420px;
    left: 20px;
    top: 20px;
    background: #C4C4C4;
}

.rectangle12 {
    position: absolute;
    width: 315px;
    height: 37px;
    left: 0px;
    top: 385px;
    background: #8A2121;
}

.text-Price {
    position: absolute;
    width: 78px;
    height: 31px;
    left: 30px;
    top: 2px;

    font-family: 'Roboto'sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 33px;
    color: #FFFFFF;
}

.money {
    position: absolute;
    width: 50px;
    height: 31px;
    left: 130px;
    top: 2px;
    
    font-family: 'Roboto'sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 33px;
    color: #FFFFFF;
}

.text-car {
    position: absolute;
    width: 282px;
    height: 34px;
    left: 20px;
    top: 290px;

    font-family: 'Roboto' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    color: #8A2121;
}

.id-car {
    position: absolute;
    width: 272px;
    height: 55px;
    left: 30px;
    top: 340px;

    font-family: 'Roboto' sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.rectangle13 {
    position: absolute;
    width: 315px;
    height: 420px;
    left: 370px;
    top: 20px;
    background: #C4C4C4;
}

.rectangle14 {
    position: absolute;
    width: 315px;
    height: 37px;
    left: 0px;
    top: 385px;
    background: #8A2121;
}

.rectangle15 {
    position: absolute;
    width: 315px;
    height: 420px;
    left: 720px;
    top: 20px;
    background: #C4C4C4;
}

.rectangle16 {
    position: absolute;
    width: 315px;
    height: 37px;
    left: 0px;
    top: 385px;
    background: #8A2121;
}